* {
  border-style: none;
  background: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Logo Styling */
.logo .armada_logo {
  width: auto;
  height: 300px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  padding: 0;
  transition: all 0.7s ease;
}
.logo .armada_logo:hover {
  transform: scale(1.1);
}
/* Red Info Bar Styling */
.header_info_bar {
  background-color: red;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.header_info_text {
  color: rgb(255, 255, 255);
  display: inline-block;
  padding: 5px;
}
/* Side navBar styling */
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0);
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #f74949;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f6812d;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
/* Nav Bar Styling */
.nav_bar {
  align-items: center;
  justify-content: center;
}

.site_nav {
  display: flex;
  margin: 0 2px;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
  margin-left: 25%;
  margin-right: 25%;
}

.nav_links {
  list-style: none;
  justify-content: space-between;
  align-items: center;
  transition: all 1s ease;
}
.nav_links:hover {
  transform: scale(1.2);
}
/* For underline under nav links pseudoelement after was used */
.nav_links::after {
  content: "";
  width: 0%;
  height: 2px;
  background: rgb(67, 150, 244);
  display: block;
  margin: auto;
  transition: 0.5s;
}

.nav_links:hover::after {
  width: 100%;
}

.nav_links a {
  text-decoration: none;
  font-size: 25px;
  color: lightsalmon;
  transition: all 1s ease;
}

.nav_links a:hover {
  border-radius: 10px 10px 3px 5px;
  color: rgb(255, 67, 67);
}
/* Slider Styling */
.mySlides img {
  max-width: auto;
  height: auto;
  box-shadow: 5px 2px 15px;
  border-radius: 10px 5px;
}
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.slider_image {
  display: none;
}

/* sliding animation */
.slide {
  -webkit-animation: slideIn 2s forwards;
  -moz-animation: slideIn 2s forwards;
  animation: slideIn 2s forwards;
}
@-webkit-keyframes slideIn {
  0% {
    transform: translateX(-600px);
  }
  100% {
    transform: translateX(0);
  }
}
@-moz-keyframes slideIn {
  0% {
    transform: translateX(-600px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slide {
  0% {
    transform: translateX(-600px);
  }
  100% {
    transform: translateX(0);
  }
}
/* Brand Information Styling */
.brand_info {
  display: block;
  padding: auto;
}
.brand_vintage_img {
  display: flex;
  justify-content: center;
  align-items: center;
}
.brand_info img {
  height: auto;
  width: 50vw;
  max-width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  margin-top: -60px;
  margin-bottom: -80px;
  padding: 0;
}
.info_heading {
  display: flex;
  justify-content: center;
}
.brand_info p,
.brand info h2 {
  font-size: 2vw;
  padding: 5px;
  display: block;
  padding-left: 5em;
  padding-right: 5em;
  text-align: center;
}

.vintage_img2 {
  display: flex;
  justify-content: center;
  display: none;
}

.vintage_img2 img {
  height: auto;
  width: 50vw;
}
.shopNowbttn {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
.shopbttn {
  border: solid 2px black;
  padding: 30px;
  border-radius: 15px;
  cursor: pointer;
  transition: all 0.9s ease-in-out;
}
.shopbttn:hover {
  background-color: salmon;
}
.shopbttn a {
  color: #2f2f2f;
  font-size: 20px;
  text-decoration: none;
  transition: all 1s ease;
}

.shopbttn a:hover {
  color: antiquewhite;
}
/* Footer Styling */
.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}
.footer {
  display: flex;
  flex-flow: row wrap;
  padding: 30px 30px 20px 30px;
  color: #2f2f2f;
  background-color: #fff;
  border-top: 1.5px solid #25242437;
}

.footer > * {
  flex: 1 100%;
}

.footer__addr {
  margin-right: 1.25em;
  margin-bottom: 2em;
}

.footer__logo {
  font-weight: 400;
  font-size: 1.5rem;
}

.footer__addr h2 {
  margin-top: 1.3em;
  font-size: 15px;
  font-weight: 400;
}

.nav__title {
  font-weight: 400;
  font-size: 10px;
  display: flex;
  justify-content: center;
}

.footer address {
  font-style: normal;
  color: #999;
}

.footer__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  max-width: max-content;
  background-color: rgba(246, 147, 147, 0.41);
  border-radius: 100px;
  color: #2f2f2f;
  line-height: 0;
  margin: 0.6em 0;
  font-size: 1rem;
  padding: 0 1.3em;
  transition: all 1s ease;
}
.footer__btn:hover {
  transform: scale(1.2);
  background-color: rgb(79, 79, 251);
  color: white;
}

.footer ul {
  list-style: none;
  padding-left: 0;
}

.footer li {
  line-height: 2em;
}

.footer a {
  text-decoration: none;
}

.footer__nav {
  display: flex;
  flex-wrap: nowrap;
}

.footer__nav > * {
  flex: 1 50%;
  margin-right: 1.25em;
}
.nav__ul li {
  display: flex;
  justify-content: center;
}
.nav__ul a {
  color: rgb(0, 0, 0);
  transition: all 1s ease;
}
.nav__ul a:hover {
  transform: scale(1.4);
  cursor: pointer;
  color: lightsalmon;
}

@media screen and (min-width: 24.375em) {
  .legal .legal__links {
    margin-left: auto;
  }
}

@media screen and (min-width: 40.375em) {
  .footer__nav > * {
    flex: 1;
  }

  .nav__item--extra {
    flex-grow: 2;
  }

  .footer__addr {
    flex: 1 0px;
  }

  .footer__nav {
    flex: 2 0px;
  }
}
address {
  justify-content: center;
}
.footerBttn {
  display: flex;
  justify-content: center;
}
/* Contact Page Styling */
.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 20px 100px;
}
.container::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  z-index: -1;
}
.contactBox {
  max-width: 850px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 10px 10px;
  background-image: linear-gradient(to bottom right, rgb(0, 153, 255), orange);
  box-shadow: 0px 0px 19px 5px rgba(53, 53, 53, 0.242);
}
.left {
  height: 100%;
  background: url("/images/armadaWWVintageTransparent.webp");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.right {
  padding: 25px 40px;
}
.right h2 {
  color: white;
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.right h2::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  height: 4px;
  width: 100%;
  border-radius: 2px;
  background-color: #cc3e2e;
}
.field {
  width: 100%;
  padding: 0.5rem 1rem;
  background-color: rgb(255, 255, 255);
  outline: none;
  border-radius: 10px;
  font-size: 1.1rem;
  margin-bottom: 22px;
  transition: 0.3s;
  resize: none;
}
::placeholder {
  color: rgb(0, 0, 0);
}
.field:focus {
  background-color: #ffc296;
}

.area {
  min-height: 150px;
}
.submitBttn {
  width: 100%;
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  cursor: pointer;
  outline: solid 1px black;
  border: none;
  transition: 0.5s;
  border-radius: 5px;
}
.submitBttn:hover {
  background-color: rgb(0, 162, 255);
  color: white;
}
/* media queries */
@media screen and (max-width: 831px) {
  .nav_bar {
    display: none;
  }
  .site_nav {
    display: none;
  }
  .brand_vintage_img {
    display: none;
  }
  .vintage_img2 {
    display: flex;
    justify-content: center;
  }

  .vintage_img2 img {
    height: auto;
    width: 60vw;
  }
  .nav__title {
    font-weight: 400;
    font-size: 7px;
    display: flex;
    justify-content: center;
  }
  .footer a {
    text-decoration: none;
    font-size: 12px;
  }
  .legal {
    display: flex;
    justify-content: center;
  }
  .legal p {
    font-size: 10px;
  }
  .brand_info p,
  h2 {
    font-size: 4vw;
    padding: 5px;
    display: block;
    padding-left: 2em;
    padding-right: 2em;
  }
  .shopbttn {
    display: flex;
    justify-content: center;
    padding: 20px;
    margin: 0;
  }
  .shopbttn a {
    font-size: 15px;
  }
  .left {
    display: none;
  }
  .contactBox,
  .container,
  .field,
  textarea {
    width: 100%;
    height: auto;
    display: flex;
    display: inline;
  }
  .field {
    /* background-color: rgba(4, 160, 195, 0.766); */
    border: solid 2px black;
  }
  .field:focus {
    background-color: rgb(248, 153, 119);
  }
  ::placeholder {
    color: rgb(0, 0, 0);
  }
  .submitBttn {
    background-color: aliceblue;
  }
}
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
